body{
    margin: 0;
    padding: 0;
}

@font-face { src: url(fonts/gotham-bold.otf);  font-family: gotham-bold;  }
@font-face { src: url(fonts/gotham-light.otf); font-family: gotham-light; }
@font-face { src: url(fonts/gotham-black.otf);  font-family: gotham-black;  }

.bold {
    font-family: gotham-bold;
}

.light {
    font-family: gotham-light;
}
.invis-link {
    display: none;
}
.top-nav {
    overflow: hidden;
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 9vw;
}

.top-nav a {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    line-height: 22px;
    text-decoration: none;
}

.top-nav a:hover {
    color: rgb(101,212,110);
}

.spotify {
    height: 50px;
    width: 50px;
    margin: 15px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.name {
    margin-left: -10px;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    line-height: 10px;
}

.content {
    background-image: linear-gradient(black 10%, grey);
    /* background-image: linear-gradient(rgb(159,137,139), black 30%); */
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
}

.description {
    height: calc(100% - 40px);
    width: calc(50% - 10vw);
    padding-left: 10vw;
    padding-top: 40px;
    color: white;
    font-size: 3.5vw;
    overflow: visible;
}

.img-container {
    height: 100%;
    width: 40vw;
}

.img {
    position: absolute;
    top: 20%;
    opacity: 1;
    margin-bottom: -400px;
    margin: 0px;
    height: auto;
    width: 40vw;
}

.sub-text {
    color: white;
    font-size: 15px;
}

.playlist-btn {
    margin-top: 50px;
    background-color: black;
    color: white;
    border-radius: 100px;
    height: 50px;
    width: 110px;
    border: 1px solid black;
    transition: transform 0.1s ease;
}

.playlist-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.white-button {
    background-color: white;
    color: black;
    width: 220px;
}

.intro {
    margin: 0px;
}

.action-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 230px;
}

.action-container.hide {
    display: none;
}


.input-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input {
    margin-top: 50px;
    height: 50px;
    width: 50vw;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    text-align: center;
    border: 1px solid white;
    font-size: 15px;
}

::placeholder {
    color: white;
    font-family: gotham-light;
    text-align: center;
}

.find-drop-button {
    margin-top: 30px;
}

.title-container {
    display: flex;
    width: 100%;
    height: 170px;
    justify-content: center;
}

.explaination-container {
    width: 100%;
    background-image: linear-gradient(grey, darkgrey);
    flex-direction: column;
    display: flex;
}

.explaination-text {
    margin-left: 300px;
    margin-right: 300px;
    color: white;
    font-size: 18px;
    margin-top: 0px;
}

.example-img {
    width: 82.5vw;
    height: auto;
    margin: 50px calc(10vw);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3), 0 25px 55px rgba(0, 0, 0, 0.25);
}

.example-container {
    display: flex;
    justify-content: center;
}

.result-page {
    display: flex;
    justify-content: center;
    height: 0px;
    width: 100%;
    background-color: black;
}

.result-page > * {
    display: none;
    color: white;
}

.song-name-container {
    width: 40vw;
}


/* INVALID CASE */
.result-page.invalid {
    height: 180px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.invalid.show {
    display: block;
}

.invalid-text {
    margin-top: 70px;
    font-size: 30px;
}

.restart-button {
    color: white;
    background-color: black;
    border: 1px solid white;
    width: 200px;
    margin-left: 20px;
    margin-top: 63px;
    font-size: 18px;
}

.invalid-btn.show {
    display: block;
    color: white;
    background-color: grey;
}


.result-page.show {
    height: 350px;
}

.result-page.show > *:not(#invalid-btn) {
    display: block;
}

.song-img {
    height: 300px;
}

.song-name {
    margin: 0px;
    height: 100px;
    width: 500px;
    padding-left: 40px;
    font-size: 60px;
}

.artist {
    padding-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}

.calculation-container {
    padding-left: 50px;
    height: 280px;
    padding-top: 20px;
    border-left: 1px solid white;
}

.calculation {
    font-size: 25px;
}

.result {
    padding-left: 40px;
}


@media screen and (max-width: 1033px) {

    .description {
        font-size: 25px;
        width: calc(50%);
    }
    .playlist-btn {
        margin-top: 10px;
    }

    .explaination-text {
        margin: 0px 100px;
    }

    .content {
        height: 400px;
    }

    .restart-button {
        margin-top: 50px;
    }
}

@media screen and (max-width: 720px) {

    .result-page {
        flex-wrap: wrap;
    }
    .calculation-container {
        border-left: none;
        border-top: 1px solid white;
    }

    .result-page.show {
        height: 700px;
    }
}

@media screen and (max-width: 500px) {

    .result-page.show {
        height: 780px;
    }
}

@media screen and (max-width: 440px) {

    .input {
        width: 55vw;
    }

    .result-page.invalid {
        height: 500px;
    }

    .result-page.show {
        height: 1000px;
    }

}